@font-face {
    font-family: 'JosefinSans';
    src: url('../assets/fonts/JosefinSans.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/Poppins.ttf');
}

.quizPageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-top: 20px;
    box-sizing: border-box;
}

.quizPageHeader>div:nth-of-type(1) {
    display: flex;
    align-items: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.quizPageHeader>div:nth-of-type(1)>img {
    height: 100px;
    width: 100px;
    animation: App-logo-spin infinite 20s linear;
    margin: 0px 10px 0px 10px;
}

.quizPageHeader>div:nth-of-type(1)>h1 {
    margin: 0px;
    font-size: 40px;
    font-family: 'poppins', sans-serif;
    color: #f6f7f9;
    font-weight: 500;
}

.quizContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizContainer>.ques_parentDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.quizContainer>h2 {
    margin: 0px;
    color: gainsboro;
    font-family: 'poppins', sans-serif;
    margin: 20px 0px 30px 0px;
}

.quizContainer>.ques_parentDiv>p {
    color: #f6f7f9;
    font-weight: 600;
    font-size: 32px;
    margin: 10px 0px 30px 0px;
    line-height: 40px;
    width: 800px;
    font-family: 'JosefinSans', sans-serif;
    text-align: center;
}

.quizContainer>.options_parentDiv {
    width: 1300px;
}

.quizContainer>.options_parentDiv>ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.quizContainer>.options_parentDiv>ul>li {
    list-style-type: none;
    padding: 0px;
    height: auto;
    width: 49%;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(246, 247, 249, 0.25) 0px 6px 12px -2px, rgba(246, 247, 249, 0.3) 0px 3px 7px -3px;
    margin: 10px 0px;
}

.quizContainer>.options_parentDiv>ul>li>label {
    background-color: #f6f7f9;
    min-height: 80px;
    color: #23272f;
    max-height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
}

.quizContainer>.options_parentDiv>ul>li>input {
    display: none !important;
}

.quizContainer>.options_parentDiv>ul span {
    background-color: rgba(51, 58, 69, 0.4);
    color: #23272f;
    height: 40px;
    width: 40px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    border-radius: 50%;
}

.quizContainer>.options_parentDiv>ul>li p {
    flex: 1;
    margin: 0px;
}

.quizContainer>.options_parentDiv>ul>li>label:hover {
    background-color: #d1d7e5;
}

.quizContainer>button {
    height: 50px;
    width: 200px;
    font-family: 'JosefinSans', sans-serif;
    color: #f6f7f9;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    background-color: #087ea4;
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 40px;
    padding: 3px 0px 0px 0px;
    cursor: pointer;
}


.quizContainer>button:hover {
    background-color: #04607e;
}

.quizContainer>button:active {
    transform: scale(.98);
}

.quizContainer>.options_parentDiv>ul>.selectedOption>label {
    background-color: #04607e !important;
    color: #f6f7f9 !important;
}

.quizContainer>.options_parentDiv>ul>.selectedOption>label>span {
    background-color: #23272f !important;
    color: #f6f7f9 !important;
}

.quizPageHeader>div:nth-of-type(2) {
    margin: 0px 30px;
}

.quizPageHeader>div:nth-of-type(2)>span {
    font-size: 50px;
    color: #61dafb;
    font-weight: 500;
    font-family: 'JosefinSans', sans-serif;
}

.quizPageHeader>div:nth-of-type(2)>span:nth-of-type(2) {
    font-size: 70px;
    margin: 0px 08px 0px 08px;
}

.quizPageHeader>div:nth-of-type(2)>span:nth-of-type(1) {
    display: inline-block;
    min-width: 70px;
    max-width: fit-content;
    text-align: right;
}

.quizPageHeader>div:nth-of-type(2)>span:nth-of-type(3) {
    display: inline-block;
    min-width: 70px;
    max-width: fit-content;
    text-align: left;
}

@media only screen and (max-width: 1310px) {
    .quizContainer>.options_parentDiv {
        width: fit-content;
    }

    .quizContainer>.options_parentDiv>ul {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .quizContainer>.options_parentDiv>ul>li {
        width: 750px;
    }
}

@media only screen and (max-width: 880px) {
    .quizContainer>.ques_parentDiv>p {
        margin: 10px 15px 30px 15px;
        width: 80%;
    }
}

@media only screen and (max-width: 790px) {
    .quizContainer>.options_parentDiv {
        width: 100%;
    }

    .quizContainer>.options_parentDiv>ul {
        padding: 0px 10px;
        box-sizing: border-box;
        width: 100%;
    }

    .quizContainer>.options_parentDiv>ul>li {
        width: 520px;
    }

    .quizContainer>.ques_parentDiv>p {
        font-size: 24px;
    }

    .quizPageHeader>div:nth-of-type(1)>img {
        height: 70px;
        width: 70px;
    }

    .quizPageHeader>div:nth-of-type(1)>h1 {
        font-size: 27px;
    }

    .quizPageHeader>div:nth-of-type(2) {
        margin: 0px;
    }

    .quizPageHeader>div:nth-of-type(2)>span {
        font-size: 45px;
    }

    .quizPageHeader>div:nth-of-type(2)>span:nth-of-type(2) {
        font-size: 65px;
    }

}

@media only screen and (max-width: 550px) {
    .quizPageHeader {
        padding-top: 0px;
    }

    .quizContainer>.options_parentDiv>ul>li {
        width: 100%;
    }

    .quizPageHeader>div:nth-of-type(1)>img {
        height: 50px;
        width: 50px;
    }

    .quizPageHeader>div:nth-of-type(1)>h1 {
        font-size: 20px;
    }

    .quizContainer>.ques_parentDiv>p {
        width: 100%;
    }

    .quizPageHeader>div:nth-of-type(2)>span {
        font-size: 33px;
    }

    .quizPageHeader>div:nth-of-type(2)>span:nth-of-type(2) {
        font-size: 53px;
    }

    .quizPageHeader>div:nth-of-type(2)>span:nth-of-type(1),
    .quizPageHeader>div:nth-of-type(2)>span:nth-of-type(3) {
        display: inline-block;
        min-width: 50px;
        max-width: fit-content;
    }

    .quizContainer>.options_parentDiv>ul>li>label {
        font-size: 14px;
        padding: 10px 10px;
        min-height: 70px;
        max-height: fit-content;
    }

    .quizContainer>.options_parentDiv>ul span {
        height: 30px;
        width: 30px;
        font-weight: 600;
        font-size: 17px;
    }
}